#addWare {
    position: absolute;
    left :40px;
    width: calc(30vw - 100px);
    height: auto;
    border-radius: 15px;
    border: 2px solid black;
    text-align: left;
    padding: 20px;
    margin: 10px;
}
#shoppingList {
    position: absolute;
    right :20px;
    width: calc(60vw - 100px);
    height: auto;
    border-radius: 15px;
    border: 2px solid black;
    text-align: left;
    padding: 20px;
    margin: 10px;
}

legend {
    font-size: 20px;
    margin-bottom: 10px;
}
textarea {
	width: calc(100% - 10px);
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}